openapi: 3.0.3
info:
  title: NetworkCore Hub API
  version: 2.2.1
  description: |
    **NetworkCore Hub** — OCPI 2.2.1 clearing hub for EV charging networks in Mexico.

    Base URL: `https://hub.networkcore.mx`

    ## Authentication
    | Scheme | Applies to |
    |--------|-----------|
    | `AdminKey` | All `/admin/*` routes |
    | `PortalBearer` | All `/portal/v1/*` routes |
    | `OcpiToken` | All `/ocpi/2.2.1/*` routes |
    | `DpApiKey` | All `/dp/v1/*` routes |

    All monetary amounts are in **MXN** unless otherwise noted.

servers:
  - url: https://hub.networkcore.mx
    description: Production

tags:
  - name: Health
    description: Service liveness check
  - name: OCPI – Versions
    description: OCPI 2.2.1 version negotiation
  - name: OCPI – Credentials
    description: OCPI 2.2.1 credential registration and rotation
  - name: OCPI – Locations
    description: OCPI 2.2.1 CPO location push
  - name: OCPI – Tokens
    description: OCPI 2.2.1 token push and real-time authorization
  - name: OCPI – Sessions
    description: OCPI 2.2.1 session push and patch
  - name: OCPI – CDRs
    description: OCPI 2.2.1 charge detail records
  - name: OCPI – Tariffs
    description: OCPI 2.2.1 tariff push and EMSP read
  - name: DP API
    description: DP payment platform integration (webhooks, sessions, locations, refunds) (webhooks, sessions, locations, refunds)
  - name: Admin – Onboarding
    description: CPO and DP onboarding workflows
  - name: Admin – Sessions & Settlement
    description: Session listing, party management, settlement runs, wallets
  - name: Admin – Disputes & Refunds
    description: Dispute lifecycle management and refund operations
  - name: Admin – Commission Schedules
    description: Per-party commission schedule CRUD
  - name: Admin – Webhooks
    description: Outbound webhook endpoint management and delivery logs
  - name: Admin – Support Config
    description: CPO and station-level support configuration
  - name: Admin – Reports
    description: Scheduled report subscriptions and on-demand report runs
  - name: Admin – Portal Tokens
    description: Portal JWT issuance and revocation
  - name: Portal API
    description: CPO/DP self-service portal
  - name: Map API
    description: Public station map and real-time SSE status stream
  - name: Extra Charges
    description: Extra charge management (connection fees, parking, idle, reservations, etc.)
  - name: Reservations
    description: EVSE reservation lifecycle — admin and CPO portal views
  - name: Analytics
    description: CPO and platform-level analytics — revenue, sessions, and peak hours
  - name: Driver Notifications
    description: Driver notification preference management via DP API
  - name: DP API – Push Notifications
    description: Device token registration for FCM / APNs push notifications
  - name: Admin – Finance Config
    description: Per-party fiscal and integration field editor (cpo_zip, RFC, CLABE, SDK IDs)
  - name: Admin – Tax Rates
    description: Dynamic IVA / VAT rate windows by country and product type
  - name: Admin – Alerts
    description: Operational alert channel configuration (Slack / email)
  - name: Admin – Licensing
    description: Swiss TopCo (NetworkCore AG) licensing and royalty statements — monthly revenue reporting, ECB FX conversion, PDF invoice download. Internal use only.
  - name: Admin – Partnerships
    description: Admin oversight and override of all CPO-DP collaboration agreements — blocking, unblocking, and direct discount management.
  - name: CPO Partners
    description: CPO self-service partner management — block/unblock DPs, offer discounts, respond to DP discount requests.
  - name: DP Partners
    description: DP self-service partner management — block/unblock CPOs, request discounts, respond to CPO discount offers.
  - name: Platform Webhooks
    description: Inbound webhooks received from STP, SDK.finance, and other integration partners
  - name: Prometheus
    description: Prometheus metrics scrape endpoint

components:
  securitySchemes:
    AdminKey:
      type: apiKey
      in: header
      name: X-Admin-Key
      description: Static admin API key issued by NetworkCore operations team
    PortalBearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Short-lived JWT issued by `POST /admin/portal-tokens/{party_id}`
    OcpiToken:
      type: http
      scheme: bearer
      bearerFormat: "Token <value>"
      description: OCPI TOKEN_A / TOKEN_B / TOKEN_C as per OCPI 2.2.1 spec
    DpApiKey:
      type: apiKey
      in: header
      name: X-Api-Key
      description: DP-issued API key shared with NetworkCore

  schemas:
    # ── Licensing ──────────────────────────────────────────────────────────────
    LicensingConfig:
      type: object
      properties:
        id:
          type: string
          format: uuid
        topco_legal_name:
          type: string
          example: NetworkCore AG
        topco_address:
          type: string
          nullable: true
        topco_country:
          type: string
          example: CH
        topco_vat_number:
          type: string
          nullable: true
        opco_legal_name:
          type: string
          example: "NetworkCore México S.A. de C.V."
        opco_rfc:
          type: string
          nullable: true
        opco_address:
          type: string
          nullable: true
        royalty_rate_pct:
          type: number
          description: "Decimal fraction (e.g. 0.07 = 7%)"
          example: 0.07
        license_fee_annual_chf:
          type: number
          nullable: true
          example: 24000.00
        license_fee_frequency:
          type: string
          enum: [monthly, quarterly, annually]
          example: monthly
        passthrough_annual_chf:
          type: number
          nullable: true
          example: 6000.00
        passthrough_frequency:
          type: string
          enum: [monthly, quarterly, annually]
          example: monthly
        passthrough_notes:
          type: string
          nullable: true
        bank_name:
          type: string
          nullable: true
        bank_iban:
          type: string
          nullable: true
        bank_swift:
          type: string
          nullable: true
        bank_account_name:
          type: string
          nullable: true
        bank_reference_prefix:
          type: string
          example: NCR-LIC
        invoice_sequence:
          type: integer
        updated_at:
          type: string
          format: date-time

    LicensingStatement:
      type: object
      properties:
        id:
          type: string
          format: uuid
        period_year:
          type: integer
          example: 2026
        period_month:
          type: integer
          minimum: 1
          maximum: 12
          example: 4
        sessions_count:
          type: integer
          example: 1842
        source_currency:
          type: string
          example: MXN
        gross_revenue:
          type: number
          description: Total billed to drivers in source currency
          example: 1250000.00
        cpo_revenue:
          type: number
          description: CPO share in source currency
          example: 875000.00
        dp_revenue:
          type: number
          description: DP / EMSP share in source currency
          example: 250000.00
        nc_revenue:
          type: number
          description: NetworkCore commission in source currency
          example: 125000.00
        ecb_rate_date:
          type: string
          format: date
          nullable: true
          description: ECB rate date — last business day of the period
          example: "2026-04-30"
        ecb_rate_to_chf:
          type: number
          format: float
          nullable: true
          description: "1 MXN = X CHF (ECB mid-market)"
          example: 0.04321
        gross_revenue_chf:
          type: number
          nullable: true
          example: 54012.50
        royalty_rate_pct:
          type: number
          example: 0.07
        royalty_amount_chf:
          type: number
          nullable: true
          description: "royalty_rate_pct × gross_revenue_chf"
          example: 3780.88
        license_fee_chf:
          type: number
          description: License fee instalment for this period
          example: 2000.00
        license_fee_frequency:
          type: string
          nullable: true
          example: monthly
        license_fee_note:
          type: string
          nullable: true
          example: "Monthly instalment — CHF 24,000 ÷ 12"
        passthrough_chf:
          type: number
          description: Pass-through costs for this period
          example: 500.00
        passthrough_notes:
          type: string
          nullable: true
        total_payable_chf:
          type: number
          nullable: true
          description: royalty + license fee + pass-through
          example: 6280.88
        invoice_number:
          type: string
          nullable: true
          example: NCR-LIC-2026-04-001
        invoice_date:
          type: string
          format: date
          nullable: true
          example: "2026-04-30"
        bank_name:
          type: string
          nullable: true
        bank_iban:
          type: string
          nullable: true
        bank_swift:
          type: string
          nullable: true
        bank_account_name:
          type: string
          nullable: true
        payment_reference:
          type: string
          nullable: true
          example: NCR-LIC-2026-04
        topco_legal_name:
          type: string
          nullable: true
        topco_address:
          type: string
          nullable: true
        topco_vat_number:
          type: string
          nullable: true
        opco_legal_name:
          type: string
          nullable: true
        opco_rfc:
          type: string
          nullable: true
        opco_address:
          type: string
          nullable: true
        status:
          type: string
          enum: [DRAFT, FINAL, PAID]
          example: DRAFT
        notes:
          type: string
          nullable: true
        generated_by:
          type: string
          nullable: true
        finalized_at:
          type: string
          format: date-time
          nullable: true
        paid_at:
          type: string
          format: date-time
          nullable: true
        paid_reference:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    # ── Shared primitives ──────────────────────────────────────────────────────
    OcpiResponse:
      type: object
      required: [status_code, status_message, timestamp]
      properties:
        status_code:
          type: integer
          example: 1000
        status_message:
          type: string
          example: Success
        data:
          description: Payload — shape varies per endpoint
        timestamp:
          type: string
          format: date-time

    OcpiVersion:
      type: object
      properties:
        version:
          type: string
          example: "2.2.1"
        url:
          type: string
          format: uri
          example: "https://hub.networkcore.mx/ocpi/2.2.1/details"

    OcpiEndpoint:
      type: object
      properties:
        identifier:
          type: string
          example: credentials
        role:
          type: string
          enum: [SENDER, RECEIVER]
        url:
          type: string
          format: uri

    OcpiCredentials:
      type: object
      required: [token, url, roles]
      properties:
        token:
          type: string
          description: New TOKEN_C to be used for future requests
          example: "eyJhbGciOiJIUzI1NiJ9.example"
        url:
          type: string
          format: uri
          description: URL to the other party's versions endpoint
        roles:
          type: array
          items:
            $ref: '#/components/schemas/OcpiCredentialsRole'

    OcpiCredentialsRole:
      type: object
      required: [role, business_details, party_id, country_code]
      properties:
        role:
          type: string
          enum: [CPO, EMSP, HUB, NAP, NSP, OTHER, SCSP]
        business_details:
          $ref: '#/components/schemas/OcpiBusinessDetails'
        party_id:
          type: string
          maxLength: 3
          example: "NCR"
        country_code:
          type: string
          maxLength: 2
          example: "MX"

    OcpiBusinessDetails:
      type: object
      required: [name]
      properties:
        name:
          type: string
          example: "NetworkCore Hub"
        website:
          type: string
          format: uri
        logo:
          type: object
          properties:
            url:
              type: string
              format: uri
            thumbnail:
              type: string
              format: uri
            category:
              type: string
              enum: [CHARGER, ENTRANCE, LOCATION, NETWORK, OPERATOR, OTHER, OWNER]
            type:
              type: string
              enum: [gif, jpeg, png, svg, webp]
            width:
              type: integer
            height:
              type: integer

    OcpiLocation:
      type: object
      required: [id, name, address, city, country, coordinates, evses, last_updated]
      properties:
        id:
          type: string
          example: "LOC001"
        name:
          type: string
        address:
          type: string
        city:
          type: string
        country:
          type: string
          maxLength: 3
          example: "MEX"
        coordinates:
          type: object
          properties:
            latitude:
              type: string
            longitude:
              type: string
        evses:
          type: array
          items:
            $ref: '#/components/schemas/OcpiEvse'
        last_updated:
          type: string
          format: date-time

    OcpiEvse:
      type: object
      required: [uid, evse_id, status, connectors, last_updated]
      properties:
        uid:
          type: string
        evse_id:
          type: string
        status:
          type: string
          enum: [AVAILABLE, BLOCKED, CHARGING, INOPERATIVE, OUTOFORDER, PLANNED, REMOVED, RESERVED, UNKNOWN]
        connectors:
          type: array
          items:
            $ref: '#/components/schemas/OcpiConnector'
        last_updated:
          type: string
          format: date-time

    OcpiConnector:
      type: object
      required: [id, standard, format, power_type, max_voltage, max_amperage, last_updated]
      properties:
        id:
          type: string
        standard:
          type: string
          enum: [CHADEMO, CHAOJI, DOMESTIC_A, DOMESTIC_B, DOMESTIC_C, DOMESTIC_D, DOMESTIC_E, DOMESTIC_F, DOMESTIC_G, DOMESTIC_H, DOMESTIC_I, DOMESTIC_J, DOMESTIC_K, DOMESTIC_L, GBT_AC, GBT_DC, IEC_60309_2_single_16, IEC_60309_2_three_16, IEC_60309_2_three_32, IEC_60309_2_three_64, IEC_62196_T1, IEC_62196_T1_COMBO, IEC_62196_T2, IEC_62196_T2_COMBO, IEC_62196_T3A, IEC_62196_T3C, NEMA_5_20, NEMA_6_30, NEMA_6_50, NEMA_10_30, NEMA_10_50, NEMA_14_30, NEMA_14_50, PANTOGRAPH_BOTTOM_UP, PANTOGRAPH_TOP_DOWN, TESLA_R, TESLA_S, UNKNOWN]
        format:
          type: string
          enum: [CABLE, SOCKET]
        power_type:
          type: string
          enum: [AC_1_PHASE, AC_2_PHASE, AC_2_PHASE_SPLIT, AC_3_PHASE, DC]
        max_voltage:
          type: integer
        max_amperage:
          type: integer
        last_updated:
          type: string
          format: date-time

    OcpiToken:
      type: object
      required: [country_code, party_id, uid, type, contract_id, issuer, valid, whitelist, last_updated]
      properties:
        country_code:
          type: string
          maxLength: 2
        party_id:
          type: string
          maxLength: 3
        uid:
          type: string
        type:
          type: string
          enum: [AD_HOC_USER, APP_USER, OTHER, RFID]
        contract_id:
          type: string
        issuer:
          type: string
        valid:
          type: boolean
        whitelist:
          type: string
          enum: [ALWAYS, ALLOWED, ALLOWED_OFFLINE, NEVER]
        last_updated:
          type: string
          format: date-time

    OcpiAuthorizationInfo:
      type: object
      required: [allowed]
      properties:
        allowed:
          type: string
          enum: [ALLOWED, BLOCKED, EXPIRED, NO_CREDIT, NOT_ALLOWED]
        token:
          $ref: '#/components/schemas/OcpiToken'
        location:
          $ref: '#/components/schemas/OcpiLocation'
        info:
          type: object
          properties:
            language:
              type: string
            text:
              type: string

    OcpiSession:
      type: object
      required: [country_code, party_id, id, start_date_time, kwh, cdr_token, auth_method, location_id, evse_uid, connector_id, currency, status, last_updated]
      properties:
        country_code:
          type: string
          maxLength: 2
        party_id:
          type: string
          maxLength: 3
        id:
          type: string
        start_date_time:
          type: string
          format: date-time
        end_date_time:
          type: string
          format: date-time
        kwh:
          type: number
          format: float
        cdr_token:
          $ref: '#/components/schemas/OcpiToken'
        auth_method:
          type: string
          enum: [AUTH_REQUEST, COMMAND, WHITELIST]
        location_id:
          type: string
        evse_uid:
          type: string
        connector_id:
          type: string
        currency:
          type: string
          example: "MXN"
        status:
          type: string
          enum: [ACTIVE, COMPLETED, INVALID, PENDING, RESERVATION]
        last_updated:
          type: string
          format: date-time

    OcpiCdr:
      type: object
      required: [country_code, party_id, id, start_date_time, end_date_time, session_id, cdr_token, auth_method, cdr_location, currency, charging_periods, total_cost, total_energy, total_time, last_updated]
      properties:
        country_code:
          type: string
          maxLength: 2
        party_id:
          type: string
          maxLength: 3
        id:
          type: string
        start_date_time:
          type: string
          format: date-time
        end_date_time:
          type: string
          format: date-time
        session_id:
          type: string
        cdr_token:
          $ref: '#/components/schemas/OcpiToken'
        auth_method:
          type: string
          enum: [AUTH_REQUEST, COMMAND, WHITELIST]
        cdr_location:
          $ref: '#/components/schemas/OcpiLocation'
        currency:
          type: string
          example: "MXN"
        charging_periods:
          type: array
          items:
            type: object
        total_cost:
          type: object
          properties:
            excl_vat:
              type: number
            incl_vat:
              type: number
        total_energy:
          type: number
        total_time:
          type: number
        last_updated:
          type: string
          format: date-time

    OcpiTariff:
      type: object
      required: [country_code, party_id, id, currency, elements, last_updated]
      properties:
        country_code:
          type: string
          maxLength: 2
        party_id:
          type: string
          maxLength: 3
        id:
          type: string
        currency:
          type: string
          example: "MXN"
        elements:
          type: array
          items:
            type: object
        tariff_alt_text:
          type: array
          items:
            type: object
        last_updated:
          type: string
          format: date-time

    # ── DP schemas ──────────────────────────────────────────────────────────
    DpSession:
      type: object
      properties:
        session_id:
          type: string
        status:
          type: string
          enum: [pending, active, completed, failed, refunded]
        amount_mxn:
          type: number
        kwh:
          type: number
        location_id:
          type: string
        evse_uid:
          type: string
        started_at:
          type: string
          format: date-time
        ended_at:
          type: string
          format: date-time
        payment_method:
          type: string
        card_last4:
          type: string

    DpLocation:
      type: object
      properties:
        location_id:
          type: string
        name:
          type: string
        address:
          type: string
        city:
          type: string
        coordinates:
          type: object
          properties:
            lat:
              type: number
            lng:
              type: number
        evses:
          type: array
          items:
            type: object
            properties:
              evse_uid:
                type: string
              status:
                type: string
              connectors:
                type: array
                items:
                  type: object

    DpRefund:
      type: object
      properties:
        refund_id:
          type: string
        session_id:
          type: string
        amount_mxn:
          type: number
        reason:
          type: string
        status:
          type: string
          enum: [pending, processing, completed, failed]
        created_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time

    # ── Admin / shared schemas ─────────────────────────────────────────────────
    CpoOnboardingRequest:
      type: object
      required: [party_id, country_code, company_name, contact_email]
      properties:
        party_id:
          type: string
          maxLength: 3
          example: "EZC"
        country_code:
          type: string
          maxLength: 2
          example: "MX"
        company_name:
          type: string
          example: "EZCharge México S.A. de C.V."
        contact_email:
          type: string
          format: email
        ocpi_versions_url:
          type: string
          format: uri
        commission_rate_pct:
          type: number
          example: 5.0
        rolling_reserve_pct:
          type: number
          example: 3.0
        stp_account_clabe:
          type: string
          description: CLABE for STP settlement payouts
          example: "646180157000000001"
        invoice_rfc:
          type: string
          example: "ECH200101ABC"

    CpoOnboardingStatus:
      type: object
      properties:
        id:
          type: string
          format: uuid
        party_id:
          type: string
        country_code:
          type: string
        company_name:
          type: string
        status:
          type: string
          enum: [pending, credentials_pending, active, suspended, offboarded]
        ocpi_token:
          type: string
          description: TOKEN_A issued to CPO for initial credential registration
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    DpOnboardingRequest:
      type: object
      required: [party_id, country_code, company_name, contact_email]
      properties:
        party_id:
          type: string
          maxLength: 3
          example: "PRC"
        country_code:
          type: string
          maxLength: 2
          example: "MX"
        company_name:
          type: string
          example: "DP TEST 1001 SA de CV"
        contact_email:
          type: string
          format: email
        commission_rate_pct:
          type: number
          example: 2.5

    AdminSession:
      type: object
      properties:
        id:
          type: string
        party_id:
          type: string
        cdr_id:
          type: string
        status:
          type: string
          enum: [active, completed, invoiced, settled]
        kwh:
          type: number
        amount_mxn:
          type: number
        commission_mxn:
          type: number
        location_id:
          type: string
        evse_uid:
          type: string
        started_at:
          type: string
          format: date-time
        ended_at:
          type: string
          format: date-time

    Party:
      type: object
      properties:
        party_id:
          type: string
        country_code:
          type: string
        role:
          type: string
          enum: [CPO, EMSP, DP]
        company_name:
          type: string
        status:
          type: string
          enum: [active, suspended, offboarded]
        balance_mxn:
          type: number
        reserve_mxn:
          type: number

    SettlementRunResult:
      type: object
      properties:
        run_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [queued, running, completed, failed]
        parties_processed:
          type: integer
        total_disbursed_mxn:
          type: number
        started_at:
          type: string
          format: date-time

    Wallet:
      type: object
      properties:
        party_id:
          type: string
        balance_mxn:
          type: number
        reserve_mxn:
          type: number
        pending_mxn:
          type: number
        last_settlement_at:
          type: string
          format: date-time

    Dispute:
      type: object
      properties:
        id:
          type: string
          format: uuid
        session_id:
          type: string
        party_id:
          type: string
        type:
          type: string
          enum: [overcharge, undercharge, failed_session, unauthorized, other]
        status:
          type: string
          enum: [open, under_review, resolved, closed]
        amount_mxn:
          type: number
        description:
          type: string
        resolution:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    DisputeCreateRequest:
      type: object
      required: [session_id, type, description]
      properties:
        session_id:
          type: string
        type:
          type: string
          enum: [overcharge, undercharge, failed_session, unauthorized, other]
        description:
          type: string
        amount_mxn:
          type: number

    CommissionSchedule:
      type: object
      properties:
        id:
          type: string
          format: uuid
        party_id:
          type: string
        rate_pct:
          type: number
          example: 5.0
        effective_from:
          type: string
          format: date
        effective_to:
          type: string
          format: date
        created_at:
          type: string
          format: date-time

    WebhookEndpoint:
      type: object
      properties:
        id:
          type: string
          format: uuid
        party_id:
          type: string
        url:
          type: string
          format: uri
        events:
          type: array
          items:
            type: string
            enum: [session.settled, settlement.batch_completed, dispute.opened, refund.completed, invoice.issued]
        enabled:
          type: boolean
        created_at:
          type: string
          format: date-time

    WebhookDelivery:
      type: object
      properties:
        id:
          type: string
          format: uuid
        endpoint_id:
          type: string
        event:
          type: string
        payload:
          type: object
        status_code:
          type: integer
        attempt:
          type: integer
        delivered_at:
          type: string
          format: date-time
        error:
          type: string

    SupportConfig:
      type: object
      properties:
        party_id:
          type: string
        support_email:
          type: string
          format: email
        support_phone:
          type: string
        support_url:
          type: string
          format: uri
        escalation_email:
          type: string
          format: email

    StationSupportConfig:
      type: object
      properties:
        location_id:
          type: string
        override_support_email:
          type: string
          format: email
        override_support_phone:
          type: string
        notes:
          type: string

    ReportSubscription:
      type: object
      properties:
        id:
          type: string
          format: uuid
        party_id:
          type: string
        report_type:
          type: string
          enum: [daily_sessions, weekly_settlement, monthly_invoice, dispute_summary]
        delivery_email:
          type: string
          format: email
        cron_expression:
          type: string
          example: "0 8 * * 1"
        enabled:
          type: boolean
        created_at:
          type: string
          format: date-time

    ReportRun:
      type: object
      properties:
        id:
          type: string
          format: uuid
        report_type:
          type: string
        party_id:
          type: string
        status:
          type: string
          enum: [queued, running, completed, failed]
        download_url:
          type: string
          format: uri
        started_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time

    PortalToken:
      type: object
      properties:
        jti:
          type: string
          format: uuid
        party_id:
          type: string
        token:
          type: string
          description: Signed JWT — return to caller on creation only
        expires_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time

    # ── Portal schemas ─────────────────────────────────────────────────────────
    PortalMe:
      type: object
      properties:
        party_id:
          type: string
        country_code:
          type: string
        company_name:
          type: string
        role:
          type: string
          enum: [CPO, DP]
        status:
          type: string

    PortalStation:
      type: object
      properties:
        location_id:
          type: string
        name:
          type: string
        address:
          type: string
        evses:
          type: array
          items:
            $ref: '#/components/schemas/OcpiEvse'

    PortalClearing:
      type: object
      properties:
        period_start:
          type: string
          format: date
        period_end:
          type: string
          format: date
        total_sessions:
          type: integer
        gross_mxn:
          type: number
        commission_mxn:
          type: number
        net_mxn:
          type: number

    PortalSettlement:
      type: object
      properties:
        settlement_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [pending, processing, completed, failed]
        amount_mxn:
          type: number
        stp_clabe:
          type: string
        initiated_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time

    PortalInvoice:
      type: object
      properties:
        invoice_id:
          type: string
        folio:
          type: string
        period:
          type: string
          example: "2025-03"
        amount_mxn:
          type: number
        status:
          type: string
          enum: [draft, stamped, cancelled]
        pdf_url:
          type: string
          format: uri
        xml_url:
          type: string
          format: uri
        issued_at:
          type: string
          format: date-time

    PortalPayout:
      type: object
      properties:
        payout_id:
          type: string
          format: uuid
        amount_mxn:
          type: number
        status:
          type: string
          enum: [pending, completed, failed]
        stp_clabe:
          type: string
        initiated_at:
          type: string
          format: date-time

    MapStation:
      type: object
      properties:
        location_id:
          type: string
        name:
          type: string
        coordinates:
          type: object
          properties:
            lat:
              type: number
            lng:
              type: number
        evses:
          type: array
          items:
            type: object
            properties:
              evse_uid:
                type: string
              status:
                type: string
                enum: [AVAILABLE, BLOCKED, CHARGING, INOPERATIVE, OUTOFORDER, PLANNED, REMOVED, RESERVED, UNKNOWN]
              connector_standard:
                type: string
              max_kw:
                type: number

    # ── Extra Charges / Reservations / Analytics schemas ──────────────────────
    ExtraCharge:
      type: object
      properties:
        id:
          type: string
          format: uuid
        session_id:
          type: string
          format: uuid
        charge_type:
          type: string
          enum: [CONNECTION_FEE, PARKING, IDLE_FEE, RESERVATION, MINIMUM_FEE, CANCELLATION, OVERSTAY, OTHER]
        description:
          type: string
        amount_mxn:
          type: number
        amount_with_tax_mxn:
          type: number
        tax_rate:
          type: number
        billable_minutes:
          type: integer
          nullable: true
        status:
          type: string
          enum: [PENDING, CLEARED, INVOICED, WAIVED]
        submitted_by:
          type: string
          enum: [CPO, SYSTEM, ADMIN]
        created_at:
          type: string
          format: date-time

    Reservation:
      type: object
      properties:
        id:
          type: string
          format: uuid
        location_id:
          type: string
          format: uuid
        evse_uid:
          type: string
        cpo_party_id:
          type: string
          format: uuid
        token_uid:
          type: string
        reserved_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
        reservation_fee_mxn:
          type: number
        status:
          type: string
          enum: [ACTIVE, CHARGING, EXPIRED, CANCELLED, COMPLETED]

    SessionPolicy:
      type: object
      properties:
        max_session_hours:
          type: integer
          description: "Alert threshold in hours — AC sessions can run 12–24h"
        hard_stop_hours:
          type: integer
          nullable: true
          description: "NULL = no forced stop"
        cost_cap_mxn:
          type: number
          nullable: true
        cost_cap_action:
          type: string
          enum: [ALERT, STOP]
        idle_threshold_minutes:
          type: integer
        parking_grace_minutes:
          type: integer

    CpoAnalyticsSummary:
      type: object
      properties:
        session_count:
          type: integer
        total_kwh:
          type: number
        gross_revenue_mxn:
          type: number
        cpo_revenue_mxn:
          type: number
        avg_session_duration_s:
          type: number
        period_from:
          type: string
          format: date-time
        period_to:
          type: string
          format: date-time

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        code:
          type: integer

    PaginatedMeta:
      type: object
      properties:
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer

    PushTokenRequest:
      type: object
      required: [driver_token_uid, push_token, push_provider]
      properties:
        driver_token_uid:
          type: string
          maxLength: 255
          description: DP driver's OCPI token UID
        push_token:
          type: string
          maxLength: 4096
          description: FCM registration token (Android) or APNs device token (iOS)
        push_provider:
          type: string
          enum: [FCM, APNS]
          description: Mobile push platform

    FinanceConfig:
      type: object
      properties:
        id:
          type: string
          format: uuid
        party_id:
          type: string
          format: uuid
        party_name:
          type: string
        role:
          type: string
          enum: [CPO, EMSP]
        ocpi_party_id:
          type: string
        cpo_rfc:
          type: string
          nullable: true
          description: CPO Mexican RFC (SAT fiscal identifier)
        cpo_zip:
          type: string
          maxLength: 5
          nullable: true
          description: CPO fiscal postal code (required on CFDI 4.0 commission invoices)
        cpo_legal_name:
          type: string
          nullable: true
        cpo_clabe:
          type: string
          maxLength: 18
          nullable: true
          description: CPO STP CLABE (18 digits) for SPEI settlement payouts
        dp_rfc:
          type: string
          nullable: true
        dp_zip:
          type: string
          nullable: true
        dp_legal_name:
          type: string
          nullable: true
        sdk_merchant_id:
          type: string
          nullable: true
          description: SDK.finance merchant account ID
        sdk_vendor_id:
          type: string
          nullable: true
          description: SDK.finance vendor account ID
        facturapi_org_id:
          type: string
          nullable: true
          description: FacturAPI organization ID for CFDI stamping
        send_invoice_emails:
          type: boolean
          description: Whether to email CFDI PDFs to the driver after each session
        updated_at:
          type: string
          format: date-time

    TaxRate:
      type: object
      properties:
        id:
          type: integer
        country_code:
          type: string
          maxLength: 2
          example: MX
        product_type:
          type: string
          example: CHARGING
        rate:
          type: number
          minimum: 0
          maximum: 1
          description: "Decimal rate, e.g. 0.16 for 16% IVA"
          example: 0.16
        label:
          type: string
          example: IVA
        effective_from:
          type: string
          format: date
        effective_until:
          type: string
          format: date
          nullable: true
        notes:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time

    AlertConfig:
      type: object
      properties:
        id:
          type: integer
        channel:
          type: string
          enum: [SLACK, EMAIL]
        enabled:
          type: boolean
        webhook_url:
          type: string
          nullable: true
          description: "Slack webhook URL — masked to first 40 characters in responses"
        email_to:
          type: string
          nullable: true
          description: Recipient email address for alert emails
        min_severity:
          type: string
          enum: [INFO, WARNING, ERROR, CRITICAL]
          description: Minimum severity level that triggers this channel
        categories:
          type: array
          items:
            type: string
          nullable: true
          description: "Alert categories to monitor (null = all categories)"
        updated_at:
          type: string
          format: date-time

    # ── Partnerships ────────────────────────────────────────────────────────────
    PartnerAgreement:
      type: object
      properties:
        id: { type: string, format: uuid }
        cpo_party_id: { type: string, format: uuid }
        dp_party_id:  { type: string, format: uuid }
        status:
          type: string
          enum: [ACTIVE, BLOCKED_BY_CPO, BLOCKED_BY_DP, DISCOUNT_PENDING_CPO, DISCOUNT_PENDING_DP]
        block_reason: { type: string, nullable: true }
        pending_discount_pct: { type: number, nullable: true, example: 0.10 }
        pending_requested_by: { type: string, enum: [CPO, DP], nullable: true }
        pending_requested_at: { type: string, format: date-time, nullable: true }
        pending_note: { type: string, nullable: true }
        active_discount_pct: { type: number, nullable: true, example: 0.10 }
        discount_agreed_at:  { type: string, format: date-time, nullable: true }
        discount_agreed_by:  { type: string, nullable: true }
        discount_effective_from:  { type: string, format: date, nullable: true }
        discount_effective_until: { type: string, format: date, nullable: true }
        discount_note: { type: string, nullable: true }
        cpo_name: { type: string, nullable: true }
        dp_name:  { type: string, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    PartnerListItem:
      type: object
      properties:
        party_id:       { type: string, format: uuid }
        name:           { type: string, nullable: true }
        country_code:   { type: string, example: MX }
        party_id_code:  { type: string, example: VEM }
        party_status:   { type: string, example: CONNECTED }
        agreement_status:
          type: string
          enum: [ACTIVE, BLOCKED_BY_CPO, BLOCKED_BY_DP, DISCOUNT_PENDING_CPO, DISCOUNT_PENDING_DP]
        agreement_id:   { type: string, format: uuid, nullable: true }
        active_discount_pct:  { type: number, nullable: true, example: 0.10 }
        pending_discount_pct: { type: number, nullable: true }
        pending_requested_by: { type: string, nullable: true }
        discount_effective_from:  { type: string, format: date, nullable: true }
        discount_effective_until: { type: string, format: date, nullable: true }
        discount_note:  { type: string, nullable: true }
        block_reason:   { type: string, nullable: true }

  parameters:
    country_code:
      name: country_code
      in: path
      required: true
      schema:
        type: string
        maxLength: 2
      example: "MX"
    party_id:
      name: party_id
      in: path
      required: true
      schema:
        type: string
        maxLength: 3
      example: "EZC"
    location_id:
      name: location_id
      in: path
      required: true
      schema:
        type: string
      example: "LOC001"
    token_uid:
      name: token_uid
      in: path
      required: true
      schema:
        type: string
      example: "04A1B2C3D4E5F6"
    session_id:
      name: session_id
      in: path
      required: true
      schema:
        type: string
      example: "sess_01HX9Z"
    tariff_id:
      name: tariff_id
      in: path
      required: true
      schema:
        type: string
      example: "TARIFF_MXN_AC"
    id:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid

  responses:
    OcpiOk:
      description: OCPI success
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OcpiResponse'
    Unauthorized:
      description: Missing or invalid authentication
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: Invalid request body or parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

# ══════════════════════════════════════════════════════════════════════════════
paths:

  # ── Health ──────────────────────────────────────────────────────────────────
  /health:
    get:
      summary: Service liveness check
      tags: [Health]
      security: []
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  service:
                    type: string
                    example: networkcore-hub
                  version:
                    type: string
                    example: "2.2.1"

  # ── OCPI Versions ────────────────────────────────────────────────────────────
  /ocpi/versions:
    get:
      summary: List supported OCPI versions
      tags: [OCPI – Versions]
      security:
        - OcpiToken: []
      responses:
        '200':
          description: OCPI versions list
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OcpiResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/OcpiVersion'

  /ocpi/2.2.1/details:
    get:
      summary: OCPI 2.2.1 version details and endpoints
      tags: [OCPI – Versions]
      security:
        - OcpiToken: []
      responses:
        '200':
          description: Version details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OcpiResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          version:
                            type: string
                            example: "2.2.1"
                          endpoints:
                            type: array
                            items:
                              $ref: '#/components/schemas/OcpiEndpoint'

  # ── OCPI Credentials ─────────────────────────────────────────────────────────
  /ocpi/2.2.1/credentials:
    post:
      summary: Register credentials (TOKEN_A → TOKEN_C exchange)
      tags: [OCPI – Credentials]
      security:
        - OcpiToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OcpiCredentials'
      responses:
        '200':
          $ref: '#/components/responses/OcpiOk'
    get:
      summary: Retrieve hub credentials
      tags: [OCPI – Credentials]
      security:
        - OcpiToken: []
      responses:
        '200':
          $ref: '#/components/responses/OcpiOk'
    put:
      summary: Update credentials (token rotation)
      tags: [OCPI – Credentials]
      security:
        - OcpiToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OcpiCredentials'
      responses:
        '200':
          $ref: '#/components/responses/OcpiOk'
    delete:
      summary: Remove credentials (de-register party)
      tags: [OCPI – Credentials]
      security:
        - OcpiToken: []
      responses:
        '200':
          $ref: '#/components/responses/OcpiOk'

  # ── OCPI Locations ───────────────────────────────────────────────────────────
  /ocpi/2.2.1/cpo/locations/{country_code}/{party_id}/{location_id}:
    put:
      summary: Push location from CPO
      tags: [OCPI – Locations]
      security:
        - OcpiToken: []
      parameters:
        - $ref: '#/components/parameters/country_code'
        - $ref: '#/components/parameters/party_id'
        - $ref: '#/components/parameters/location_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OcpiLocation'
      responses:
        '200':
          $ref: '#/components/responses/OcpiOk'

  # ── OCPI Tokens ──────────────────────────────────────────────────────────────
  /ocpi/2.2.1/cpo/tokens/{country_code}/{party_id}/{token_uid}:
    put:
      summary: Push token from CPO
      tags: [OCPI – Tokens]
      security:
        - OcpiToken: []
      parameters:
        - $ref: '#/components/parameters/country_code'
        - $ref: '#/components/parameters/party_id'
        - $ref: '#/components/parameters/token_uid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OcpiToken'
      responses:
        '200':
          $ref: '#/components/responses/OcpiOk'

  /ocpi/2.2.1/cpo/tokens/{country_code}/{party_id}/{token_uid}/authorize:
    post:
      summary: Real-time token authorization request
      tags: [OCPI – Tokens]
      security:
        - OcpiToken: []
      parameters:
        - $ref: '#/components/parameters/country_code'
        - $ref: '#/components/parameters/party_id'
        - $ref: '#/components/parameters/token_uid'
        - name: type
          in: query
          required: false
          schema:
            type: string
            enum: [AD_HOC_USER, APP_USER, OTHER, RFID]
          description: Token type hint
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                location_id:
                  type: string
                evse_uid:
                  type: string
                connector_id:
                  type: string
      responses:
        '200':
          description: Authorization decision
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OcpiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/OcpiAuthorizationInfo'

  # ── OCPI Sessions ─────────────────────────────────────────────────────────────
  /ocpi/2.2.1/cpo/sessions/{country_code}/{party_id}/{session_id}:
    put:
      summary: Push full session object from CPO
      tags: [OCPI – Sessions]
      security:
        - OcpiToken: []
      parameters:
        - $ref: '#/components/parameters/country_code'
        - $ref: '#/components/parameters/party_id'
        - $ref: '#/components/parameters/session_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OcpiSession'
      responses:
        '200':
          $ref: '#/components/responses/OcpiOk'
    patch:
      summary: Partial update a session (e.g. kwh update)
      tags: [OCPI – Sessions]
      security:
        - OcpiToken: []
      parameters:
        - $ref: '#/components/parameters/country_code'
        - $ref: '#/components/parameters/party_id'
        - $ref: '#/components/parameters/session_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Partial session fields to update
              properties:
                kwh:
                  type: number
                status:
                  type: string
                  enum: [ACTIVE, COMPLETED, INVALID, PENDING, RESERVATION]
                last_updated:
                  type: string
                  format: date-time
      responses:
        '200':
          $ref: '#/components/responses/OcpiOk'

  # ── OCPI CDRs ─────────────────────────────────────────────────────────────────
  /ocpi/2.2.1/cpo/cdrs:
    post:
      summary: Push CDR from CPO
      tags: [OCPI – CDRs]
      security:
        - OcpiToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OcpiCdr'
      responses:
        '200':
          $ref: '#/components/responses/OcpiOk'

  # ── OCPI Tariffs ──────────────────────────────────────────────────────────────
  /ocpi/2.2.1/cpo/tariffs/{country_code}/{party_id}/{tariff_id}:
    put:
      summary: Push tariff from CPO
      tags: [OCPI – Tariffs]
      security:
        - OcpiToken: []
      parameters:
        - $ref: '#/components/parameters/country_code'
        - $ref: '#/components/parameters/party_id'
        - $ref: '#/components/parameters/tariff_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OcpiTariff'
      responses:
        '200':
          $ref: '#/components/responses/OcpiOk'
    delete:
      summary: Delete tariff
      tags: [OCPI – Tariffs]
      security:
        - OcpiToken: []
      parameters:
        - $ref: '#/components/parameters/country_code'
        - $ref: '#/components/parameters/party_id'
        - $ref: '#/components/parameters/tariff_id'
      responses:
        '200':
          $ref: '#/components/responses/OcpiOk'

  /ocpi/2.2.1/emsp/tariffs:
    get:
      summary: EMSP retrieves all tariffs from hub
      tags: [OCPI – Tariffs]
      security:
        - OcpiToken: []
      parameters:
        - name: date_from
          in: query
          schema:
            type: string
            format: date-time
        - name: date_to
          in: query
          schema:
            type: string
            format: date-time
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
      responses:
        '200':
          description: List of tariffs
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OcpiResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/OcpiTariff'

  # ── DP API ─────────────────────────────────────────────────────────────────
  /dp/v1/webhook/payment:
    post:
      summary: DP payment confirmation webhook
      tags: [DP API]
      security:
        - DpApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [event, session_id, amount_mxn, status]
              properties:
                event:
                  type: string
                  enum: [payment.confirmed, payment.failed, payment.refunded]
                session_id:
                  type: string
                amount_mxn:
                  type: number
                status:
                  type: string
                  enum: [confirmed, failed, refunded]
                payment_method:
                  type: string
                card_last4:
                  type: string
                timestamp:
                  type: string
                  format: date-time
      responses:
        '200':
          description: Webhook acknowledged
          content:
            application/json:
              schema:
                type: object
                properties:
                  received:
                    type: boolean
                    example: true

  /dp/v1/sessions:
    get:
      summary: List sessions for this DP
      operationId: dpListSessions
      tags: [DP API]
      security:
        - DpApiKey: []
      parameters:
        - name: since
          in: query
          description: ISO 8601 timestamp — return sessions with updated_at ≥ this value
          schema:
            type: string
            format: date-time
            example: '2026-04-01T00:00:00Z'
        - name: status
          in: query
          description: Filter by session status
          schema:
            type: string
            enum: [ACTIVE, COMPLETED, INVALID]
        - name: limit
          in: query
          description: Page size (max 200)
          schema:
            type: integer
            default: 50
            maximum: 200
        - name: offset
          in: query
          description: Pagination offset
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Paginated session list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/DpSession'
                  meta:
                    $ref: '#/components/schemas/PaginatedMeta'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /dp/v1/sessions/{session_id}:
    get:
      summary: Get DP session details
      tags: [DP API]
      security:
        - DpApiKey: []
      parameters:
        - $ref: '#/components/parameters/session_id'
      responses:
        '200':
          description: Session details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DpSession'
        '404':
          $ref: '#/components/responses/NotFound'

  /dp/v1/sessions/{session_id}/stream:
    get:
      summary: Real-time SSE stream for a single session
      operationId: dpSessionStream
      tags: [DP API]
      description: |
        Server-Sent Events stream that pushes live updates for the specified session.
        The browser `EventSource` API cannot set custom headers, so authentication
        falls back to a query parameter when no `X-Api-Key` header is present.
        Use `?api_key=<key>` for browser / iframe contexts.

        Events pushed:
        - `session_update` — session status or energy changed
        - `payment_confirmed` — payment authorization received
        - `session_settled` — clearing complete, financial split available
      security:
        - DpApiKey: []
      parameters:
        - $ref: '#/components/parameters/session_id'
        - name: api_key
          in: query
          description: >
            API key fallback for browser EventSource contexts that cannot send
            custom headers (HTML5 spec restriction). Equivalent to `X-Api-Key`.
          schema:
            type: string
      responses:
        '200':
          description: SSE stream (text/event-stream)
          content:
            text/event-stream:
              schema:
                type: string
                description: |
                  Each event line is `data: <JSON>\n\n`.

                  **session_update**
                  ```json
                  { "event": "session_update", "session_id": "uuid", "status": "ACTIVE",
                    "kwh": 12.4, "updated_at": "2026-04-09T14:00:00Z" }
                  ```

                  **session_settled**
                  ```json
                  { "event": "session_settled", "session_id": "uuid",
                    "gross_amount": 150.00, "dp_amount": 7.50, "currency": "MXN" }
                  ```
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /dp/v1/locations/{location_id}:
    get:
      summary: Get location details visible to DP
      tags: [DP API]
      security:
        - DpApiKey: []
      parameters:
        - $ref: '#/components/parameters/location_id'
      responses:
        '200':
          description: Location details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DpLocation'
        '404':
          $ref: '#/components/responses/NotFound'

  /dp/v1/refunds:
    get:
      summary: List refunds (optionally filtered)
      tags: [DP API]
      security:
        - DpApiKey: []
      parameters:
        - name: session_id
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, processing, completed, failed]
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Refund list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/DpRefund'
                  meta:
                    $ref: '#/components/schemas/PaginatedMeta'

  /dp/v1/refunds/{refund_id}:
    get:
      summary: Get single refund
      tags: [DP API]
      security:
        - DpApiKey: []
      parameters:
        - name: refund_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Refund detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DpRefund'
        '404':
          $ref: '#/components/responses/NotFound'

  # ── Admin – Onboarding ────────────────────────────────────────────────────────
  /admin/onboarding/cpo:
    post:
      summary: Onboard a new CPO
      tags: [Admin – Onboarding]
      security:
        - AdminKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CpoOnboardingRequest'
      responses:
        '201':
          description: CPO onboarding initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CpoOnboardingStatus'
        '400':
          $ref: '#/components/responses/BadRequest'
    get:
      summary: List all CPO onboarding records
      tags: [Admin – Onboarding]
      security:
        - AdminKey: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, credentials_pending, active, suspended, offboarded]
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: CPO list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CpoOnboardingStatus'
                  meta:
                    $ref: '#/components/schemas/PaginatedMeta'

  /admin/onboarding/cpo/{id}:
    get:
      summary: Get CPO onboarding record
      tags: [Admin – Onboarding]
      security:
        - AdminKey: []
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: CPO details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CpoOnboardingStatus'
        '404':
          $ref: '#/components/responses/NotFound'

  /admin/onboarding/cpo/{id}/resume:
    post:
      summary: Resume a stalled CPO onboarding (re-issue TOKEN_A)
      tags: [Admin – Onboarding]
      security:
        - AdminKey: []
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: Onboarding resumed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CpoOnboardingStatus'
        '404':
          $ref: '#/components/responses/NotFound'

  /admin/onboarding/dp:
    post:
      summary: Onboard a new Distribution Partner (DP)
      tags: [Admin – Onboarding]
      security:
        - AdminKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DpOnboardingRequest'
      responses:
        '201':
          description: DP created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CpoOnboardingStatus'

  /admin/onboarding/dp/{id}:
    get:
      summary: Get DP onboarding record
      tags: [Admin – Onboarding]
      security:
        - AdminKey: []
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: DP details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CpoOnboardingStatus'
        '404':
          $ref: '#/components/responses/NotFound'

  /admin/onboarding/dp/{id}/resume:
    post:
      summary: Resume a stalled DP onboarding
      tags: [Admin – Onboarding]
      security:
        - AdminKey: []
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: DP onboarding resumed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CpoOnboardingStatus'

  # ── Admin – Sessions & Settlement ─────────────────────────────────────────────
  /admin/sessions:
    get:
      summary: List all sessions across all parties
      tags: [Admin – Sessions & Settlement]
      security:
        - AdminKey: []
      parameters:
        - name: party_id
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [active, completed, invoiced, settled]
        - name: date_from
          in: query
          schema:
            type: string
            format: date
        - name: date_to
          in: query
          schema:
            type: string
            format: date
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Session list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdminSession'
                  meta:
                    $ref: '#/components/schemas/PaginatedMeta'

  /admin/parties:
    get:
      summary: List all parties (CPOs and DPs)
      tags: [Admin – Sessions & Settlement]
      security:
        - AdminKey: []
      parameters:
        - name: role
          in: query
          schema:
            type: string
            enum: [CPO, EMSP, DP]
        - name: status
          in: query
          schema:
            type: string
            enum: [active, suspended, offboarded]
      responses:
        '200':
          description: Party list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Party'

  /admin/settlement/run:
    post:
      summary: Trigger a settlement run for all active parties
      tags: [Admin – Sessions & Settlement]
      security:
        - AdminKey: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                party_ids:
                  type: array
                  items:
                    type: string
                  description: Limit to specific party IDs; omit for all active parties
                dry_run:
                  type: boolean
                  default: false
                  description: Simulate settlement without disbursing funds
      responses:
        '202':
          description: Settlement run queued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettlementRunResult'

  /admin/wallets:
    get:
      summary: List wallet balances for all parties
      tags: [Admin – Sessions & Settlement]
      security:
        - AdminKey: []
      parameters:
        - name: party_id
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Wallet balances
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Wallet'

  # ── Admin – Disputes & Refunds ────────────────────────────────────────────────
  /admin/disputes:
    post:
      summary: Open a new dispute
      tags: [Admin – Disputes & Refunds]
      security:
        - AdminKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisputeCreateRequest'
      responses:
        '201':
          description: Dispute created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dispute'
    get:
      summary: List all disputes
      tags: [Admin – Disputes & Refunds]
      security:
        - AdminKey: []
      parameters:
        - name: party_id
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [open, under_review, resolved, closed]
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Dispute list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Dispute'
                  meta:
                    $ref: '#/components/schemas/PaginatedMeta'

  /admin/disputes/{id}:
    get:
      summary: Get dispute details
      tags: [Admin – Disputes & Refunds]
      security:
        - AdminKey: []
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: Dispute details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dispute'
        '404':
          $ref: '#/components/responses/NotFound'

  /admin/disputes/{id}/review:
    patch:
      summary: Move dispute to under_review
      tags: [Admin – Disputes & Refunds]
      security:
        - AdminKey: []
      parameters:
        - $ref: '#/components/parameters/id'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                notes:
                  type: string
      responses:
        '200':
          description: Dispute updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dispute'

  /admin/disputes/{id}/resolve:
    patch:
      summary: Resolve dispute (triggers refund if applicable)
      tags: [Admin – Disputes & Refunds]
      security:
        - AdminKey: []
      parameters:
        - $ref: '#/components/parameters/id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [resolution]
              properties:
                resolution:
                  type: string
                refund_amount_mxn:
                  type: number
                  description: Amount to refund; omit to refund full disputed amount
      responses:
        '200':
          description: Dispute resolved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dispute'

  /admin/disputes/{id}/close:
    patch:
      summary: Close dispute without resolution (no refund)
      tags: [Admin – Disputes & Refunds]
      security:
        - AdminKey: []
      parameters:
        - $ref: '#/components/parameters/id'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
      responses:
        '200':
          description: Dispute closed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dispute'

  /admin/refunds/{id}:
    get:
      summary: Get refund details
      tags: [Admin – Disputes & Refunds]
      security:
        - AdminKey: []
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: Refund details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DpRefund'
        '404':
          $ref: '#/components/responses/NotFound'

  /admin/refunds/{id}/retry:
    post:
      summary: Retry a failed refund
      tags: [Admin – Disputes & Refunds]
      security:
        - AdminKey: []
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '202':
          description: Refund retry queued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DpRefund'

  # ── Admin – Commission Schedules ──────────────────────────────────────────────
  /admin/commission/{party_id}:
    get:
      summary: List commission schedules for a party
      tags: [Admin – Commission Schedules]
      security:
        - AdminKey: []
      parameters:
        - $ref: '#/components/parameters/party_id'
      responses:
        '200':
          description: Commission schedules
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CommissionSchedule'
    post:
      summary: Create a new commission schedule for a party
      tags: [Admin – Commission Schedules]
      security:
        - AdminKey: []
      parameters:
        - $ref: '#/components/parameters/party_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [rate_pct, effective_from]
              properties:
                rate_pct:
                  type: number
                  example: 5.0
                effective_from:
                  type: string
                  format: date
                effective_to:
                  type: string
                  format: date
      responses:
        '201':
          description: Schedule created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommissionSchedule'

  /admin/commission/schedules/{id}:
    get:
      summary: Get commission schedule by ID
      tags: [Admin – Commission Schedules]
      security:
        - AdminKey: []
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: Commission schedule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommissionSchedule'
    patch:
      summary: Update commission schedule
      tags: [Admin – Commission Schedules]
      security:
        - AdminKey: []
      parameters:
        - $ref: '#/components/parameters/id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                rate_pct:
                  type: number
                effective_to:
                  type: string
                  format: date
      responses:
        '200':
          description: Updated schedule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommissionSchedule'
    delete:
      summary: Delete commission schedule
      tags: [Admin – Commission Schedules]
      security:
        - AdminKey: []
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '204':
          description: Schedule deleted

  /admin/commission/{party_id}/coverage:
    get:
      summary: Check commission coverage gaps for a party
      tags: [Admin – Commission Schedules]
      security:
        - AdminKey: []
      parameters:
        - $ref: '#/components/parameters/party_id'
        - name: from
          in: query
          schema:
            type: string
            format: date
        - name: to
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Coverage analysis
          content:
            application/json:
              schema:
                type: object
                properties:
                  covered:
                    type: boolean
                  gaps:
                    type: array
                    items:
                      type: object
                      properties:
                        from:
                          type: string
                          format: date
                        to:
                          type: string
                          format: date

  /admin/commission/{party_id}/preview:
    get:
      summary: Preview commission amounts for a party over a date range
      tags: [Admin – Commission Schedules]
      security:
        - AdminKey: []
      parameters:
        - $ref: '#/components/parameters/party_id'
        - name: from
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: to
          in: query
          required: true
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Commission preview
          content:
            application/json:
              schema:
                type: object
                properties:
                  party_id:
                    type: string
                  gross_mxn:
                    type: number
                  commission_mxn:
                    type: number
                  net_mxn:
                    type: number
                  sessions_count:
                    type: integer

  # ── Admin – Webhooks ──────────────────────────────────────────────────────────
  /admin/webhooks/endpoints:
    get:
      summary: List all webhook endpoints across all parties
      tags: [Admin – Webhooks]
      security:
        - AdminKey: []
      responses:
        '200':
          description: Webhook endpoints
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/WebhookEndpoint'

  /admin/webhooks/endpoints/{party_id}:
    get:
      summary: List webhook endpoints for a party
      tags: [Admin – Webhooks]
      security:
        - AdminKey: []
      parameters:
        - $ref: '#/components/parameters/party_id'
      responses:
        '200':
          description: Party webhook endpoints
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/WebhookEndpoint'
    post:
      summary: Create webhook endpoint for a party
      tags: [Admin – Webhooks]
      security:
        - AdminKey: []
      parameters:
        - $ref: '#/components/parameters/party_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url, events]
              properties:
                url:
                  type: string
                  format: uri
                events:
                  type: array
                  items:
                    type: string
                    enum: [session.settled, settlement.batch_completed, dispute.opened, refund.completed, invoice.issued]
                enabled:
                  type: boolean
                  default: true
      responses:
        '201':
          description: Endpoint created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'

  /admin/webhooks/endpoints/{id}:
    patch:
      summary: Update webhook endpoint (enable/disable, change URL or events)
      tags: [Admin – Webhooks]
      security:
        - AdminKey: []
      parameters:
        - $ref: '#/components/parameters/id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  format: uri
                events:
                  type: array
                  items:
                    type: string
                enabled:
                  type: boolean
      responses:
        '200':
          description: Updated endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
    delete:
      summary: Delete webhook endpoint
      tags: [Admin – Webhooks]
      security:
        - AdminKey: []
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '204':
          description: Endpoint deleted

  /admin/webhooks/endpoints/{id}/deliveries:
    get:
      summary: List delivery logs for a webhook endpoint
      tags: [Admin – Webhooks]
      security:
        - AdminKey: []
      parameters:
        - $ref: '#/components/parameters/id'
        - name: status
          in: query
          schema:
            type: string
            enum: [success, failed]
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
      responses:
        '200':
          description: Delivery logs
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/WebhookDelivery'

  /admin/webhooks/test/{id}:
    post:
      summary: Send a test event to a webhook endpoint
      tags: [Admin – Webhooks]
      security:
        - AdminKey: []
      parameters:
        - $ref: '#/components/parameters/id'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                event:
                  type: string
                  enum: [session.settled, settlement.batch_completed, dispute.opened, refund.completed, invoice.issued]
                  default: session.completed
      responses:
        '200':
          description: Test delivery result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookDelivery'

  # ── Admin – Support Config ─────────────────────────────────────────────────────
  /admin/support/cpo/{party_id}:
    put:
      summary: Create or update CPO-level support configuration
      tags: [Admin – Support Config]
      security:
        - AdminKey: []
      parameters:
        - $ref: '#/components/parameters/party_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupportConfig'
      responses:
        '200':
          description: Support config saved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupportConfig'
    get:
      summary: Get CPO-level support configuration
      tags: [Admin – Support Config]
      security:
        - AdminKey: []
      parameters:
        - $ref: '#/components/parameters/party_id'
      responses:
        '200':
          description: Support config
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupportConfig'
        '404':
          $ref: '#/components/responses/NotFound'

  /admin/support/stations/{location_id}:
    put:
      summary: Create or update station-level support config override
      tags: [Admin – Support Config]
      security:
        - AdminKey: []
      parameters:
        - $ref: '#/components/parameters/location_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StationSupportConfig'
      responses:
        '200':
          description: Station support config saved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StationSupportConfig'
    get:
      summary: Get station-level support config
      tags: [Admin – Support Config]
      security:
        - AdminKey: []
      parameters:
        - $ref: '#/components/parameters/location_id'
      responses:
        '200':
          description: Station support config
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StationSupportConfig'
        '404':
          $ref: '#/components/responses/NotFound'

  /admin/support/stations/{location_id}/override:
    delete:
      summary: Remove station-level support override (falls back to CPO config)
      tags: [Admin – Support Config]
      security:
        - AdminKey: []
      parameters:
        - $ref: '#/components/parameters/location_id'
      responses:
        '204':
          description: Override removed

  /admin/support/bulk-apply:
    post:
      summary: Apply a support config template to multiple stations
      tags: [Admin – Support Config]
      security:
        - AdminKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [party_id, location_ids, config]
              properties:
                party_id:
                  type: string
                location_ids:
                  type: array
                  items:
                    type: string
                config:
                  $ref: '#/components/schemas/StationSupportConfig'
      responses:
        '200':
          description: Bulk apply result
          content:
            application/json:
              schema:
                type: object
                properties:
                  applied:
                    type: integer
                  failed:
                    type: array
                    items:
                      type: string

  # ── Admin – Reports ────────────────────────────────────────────────────────────
  /admin/reports/subscriptions:
    get:
      summary: List report subscriptions
      tags: [Admin – Reports]
      security:
        - AdminKey: []
      parameters:
        - name: party_id
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Subscriptions list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ReportSubscription'
    post:
      summary: Create a report subscription
      tags: [Admin – Reports]
      security:
        - AdminKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [party_id, report_type, delivery_email, cron_expression]
              properties:
                party_id:
                  type: string
                report_type:
                  type: string
                  enum: [daily_sessions, weekly_settlement, monthly_invoice, dispute_summary]
                delivery_email:
                  type: string
                  format: email
                cron_expression:
                  type: string
                  example: "0 8 * * 1"
                enabled:
                  type: boolean
                  default: true
      responses:
        '201':
          description: Subscription created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportSubscription'

  /admin/reports/subscriptions/{id}:
    patch:
      summary: Update report subscription
      tags: [Admin – Reports]
      security:
        - AdminKey: []
      parameters:
        - $ref: '#/components/parameters/id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                delivery_email:
                  type: string
                  format: email
                cron_expression:
                  type: string
                enabled:
                  type: boolean
      responses:
        '200':
          description: Updated subscription
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportSubscription'
    delete:
      summary: Delete report subscription
      tags: [Admin – Reports]
      security:
        - AdminKey: []
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '204':
          description: Subscription deleted

  /admin/reports/run:
    post:
      summary: Trigger an on-demand report run
      tags: [Admin – Reports]
      security:
        - AdminKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [report_type, party_id]
              properties:
                report_type:
                  type: string
                  enum: [daily_sessions, weekly_settlement, monthly_invoice, dispute_summary]
                party_id:
                  type: string
                date_from:
                  type: string
                  format: date
                date_to:
                  type: string
                  format: date
      responses:
        '202':
          description: Report run queued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportRun'

  /admin/reports/runs/{id}:
    get:
      summary: Get report run status and download URL
      tags: [Admin – Reports]
      security:
        - AdminKey: []
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: Report run details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportRun'
        '404':
          $ref: '#/components/responses/NotFound'

  /admin/reports/runs:
    get:
      summary: List recent report runs
      tags: [Admin – Reports]
      security:
        - AdminKey: []
      parameters:
        - name: party_id
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [queued, running, completed, failed]
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
      responses:
        '200':
          description: Report runs list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ReportRun'

  # ── Admin – Portal Tokens ─────────────────────────────────────────────────────
  /admin/portal-tokens/{party_id}:
    post:
      summary: Issue a portal JWT for a party
      tags: [Admin – Portal Tokens]
      security:
        - AdminKey: []
      parameters:
        - $ref: '#/components/parameters/party_id'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                ttl_seconds:
                  type: integer
                  default: 86400
                  description: Token TTL in seconds (default 24 h)
      responses:
        '201':
          description: Token issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortalToken'
    get:
      summary: List active portal tokens for a party
      tags: [Admin – Portal Tokens]
      security:
        - AdminKey: []
      parameters:
        - $ref: '#/components/parameters/party_id'
      responses:
        '200':
          description: Token list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PortalToken'

  /admin/portal-tokens/{jti}/revoke:
    delete:
      summary: Revoke a portal token by JTI
      tags: [Admin – Portal Tokens]
      security:
        - AdminKey: []
      parameters:
        - name: jti
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Token revoked
        '404':
          $ref: '#/components/responses/NotFound'

  # ── Portal API ────────────────────────────────────────────────────────────────
  /portal/v1/me:
    get:
      summary: Get authenticated party profile
      tags: [Portal API]
      security:
        - PortalBearer: []
      responses:
        '200':
          description: Party profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortalMe'

  /portal/v1/cpo/stations:
    get:
      summary: CPO – list owned stations with EVSE status
      tags: [Portal API]
      security:
        - PortalBearer: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [AVAILABLE, CHARGING, INOPERATIVE, OUTOFORDER]
      responses:
        '200':
          description: Station list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PortalStation'

  /portal/v1/cpo/sessions:
    get:
      summary: CPO – list sessions at owned stations
      tags: [Portal API]
      security:
        - PortalBearer: []
      parameters:
        - name: date_from
          in: query
          schema:
            type: string
            format: date
        - name: date_to
          in: query
          schema:
            type: string
            format: date
        - name: status
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Session list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdminSession'
                  meta:
                    $ref: '#/components/schemas/PaginatedMeta'

  /portal/v1/cpo/clearing:
    get:
      summary: CPO – clearing summary for current period
      tags: [Portal API]
      security:
        - PortalBearer: []
      parameters:
        - name: period
          in: query
          schema:
            type: string
            example: "2025-03"
      responses:
        '200':
          description: Clearing summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortalClearing'

  /portal/v1/cpo/settlement:
    get:
      summary: CPO – settlement history
      tags: [Portal API]
      security:
        - PortalBearer: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Settlement history
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PortalSettlement'

  /portal/v1/cpo/invoices/export.zip:
    get:
      summary: CPO – download invoices as ZIP
      operationId: cpoBulkInvoiceExport
      tags: [Portal API]
      description: |
        Streams a ZIP archive of CFDIs (PDF + XML) for the given period.
        Always includes a `manifest.csv` compatible with ContpaqI and Aspel SAE for direct import.

        ZIP structure:
        ```
        facturas-cpo-YYYY-MM-DD.zip
          YYYY-MM-DD/
            cliente/   {uuid}.pdf  {uuid}.xml    ← customer invoice
            comision/  {uuid}.pdf  {uuid}.xml    ← commission invoice
          manifest.csv
        ```
      security:
[...]
